.lista{
  margin-top: 20px;
}

.lista__contenido{
  justify-content: center;
}

.lista__puntero{
  cursor: pointer;
}

.lista__puntero:hover{
  background-color: deepskyblue;
  transform: scale(1.10);
}


